body
{
  background-color: palevioletred; 
}


h1
 {

    color: purple;
    text-align: center;
    padding: 7px;
}

h2 {
    color: purple;
}
p {

    color: rgb(8, 6, 6);
    text-align: center;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    left: 0;
    right: 0;
    
    padding: 20px;
    font-size: 16px;
}

img {
    float:  
}
footer{
    background-color: black;
    color: orange;
    text-align: center;
}